
* {box-sizing: border-box;
  }

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

header{
  position: relative;
  border: 1px solid red;
  height: 100px;
}

.logo{
  position: absolute;
  left: 0;
  top: 25px;
}

nav {position: absolute;
  left: 190px;
  top: 25px;
}

.menu_item {
  display: inline-block;
  margin-right: 20px;
}

.menu_item:last-child{
  margin-right: 0;
}


ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
contacts {
  position: absolute;
  right: 0;
  top: 25px;
}

a {text-decoration: none;
color:black;}

button {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.wripper {
  height: 100%;
  width: 100%;
}

.container {
  height: 1100px;
  margin: 0 auto;
}



