* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  border: 1px solid red;
  height: 100px;
}

.logo {
  position: absolute;
  left: 0;
  top: 25px;
}

nav {
  position: absolute;
  left: 190px;
  top: 25px;
}

.menu__item {
  display: inline-block;
  margin-right: 20px;
}

.menu__item:last-child {
  margin-right: 0;
}


ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts {
  position: absolute;
  right: 0;
  top: 25px;
}

.contacts__text {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.tours__button {
  background-color: #F5170E; /* нужно поправить цвет*/
  border-radius: 35px;
  width: 168px;
  height: 55px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
button {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
}

.tours__item {
   display: inline-block;
   width: 300px;
}

.tours__item:last-child {
  margin-right: 0;
}

 .tours__item {
   display: inline-block;
   width: 300px;
   margin-right: 20px;
   padding: 30px 20px;
   border: 1px solid;
}

li.news__item {
  display: inline-block;
  position: relative;
  width: 500px;
  margin-right: 20px;
  border: 1px solid;
}

li.news__item:last-child{
  margin-right: 0;
}

.news__img {
  max-width: 100%;
  max-height: 100%;
}
.news__content {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  color: #fff;
  margin-bottom: 30px;
}

li.paginator__item {
  display: inline-block;
}

.paginator__link {
  display: inline-block;
}

.about__content{
  display: inline-block;
  background: black;
  color: #fff;
  margin-top: 50px;
  margin-left: -100px;
}

.about__img{
  display: inline-block;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wripper {
  height: 100%;
  width: 100%;
}

.container {
  height: 1100px;
  margin: 0 auto;
}

footer {
  position: relative;
}
