@import url('https://fonts.googleapis.com/css2? family=Open+Sans:400;700');
* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #29292c;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
}
.main-page-wrapper {
   background: 
    url("1.png") center top no-repeat,
    url("2.png") right bottom no-repeat;
}
.container {
  margin: 0 auto;
  width: 1100px;
}
header {
  position: relative;
  height: 100px;
}

.logo {
  position: absolute;
  left: 0;
  top: 25px;
}

nav {
  position: absolute;
  left: 190px;
  top: 25px;
}

.menu__item {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.menu__item:last-child {
  margin-right: 0;
}


ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts {
  position: absolute;
  right: 0;
  top: 25px;
}
.contacts__tel {
  size: 26px;
}
.contacts__text {
  display: block;
  text-decoration: underline;
}
.preview__title {
  margin-top: 50px;
  size: 72px;
  font-size:70px;
  line-height:100px; 
}
.preview__text {
  margin-top: 50px;
}
.tours__option-block {
 display: inline-block;
}
  
.preview__button {
  margin-top: 20px;
  margin-bottom: 250px;
  padding: 0;
  background-color: #F5170E;
  border-radius: 35px;
  width: 168px;
  height: 55px;
  color:#fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.tours__button {
  margin-top: 20px;
  background-color: #F5170E; /* нужно поправить цвет*/
  border-radius: 35px;
  width: 168px;
  height: 55px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.button--border {
  background: transparent;
  color: #F5170E;
  border-color: #F5170E;
}
button {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
}

.tours__item:last-child {
  margin-right: 0;
}

 .tours__item {
   background-color: #fff;
   display: inline-block;
   width: 350px;
   margin-right: 20px;
   padding: 30px 30px;
   border: 1px solid;
   overflow:hidden;
}
.tours__text {
  color: #000;
  margin: 10px 0;
}
.tours__options-block-text {
  color: #000;
  margin: 10px 0;
}
.tours__subtitle {
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}
li.news__item {
  display: inline-block;
  position: relative;
  width: 536px;
  margin-right: 20px;
  border: 1px solid;
  overflow:hidden;
}

li.news__item:last-child{
  margin-right: 0;
}
.news__title {
  margin: 20px 0;
}
.news__img {
  max-width: 100%;
  max-height: 100%;
}
.news__content {
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  color: #fff;
  margin-bottom: 30px;
}

.news__title-icon {
   background: no-repeat;
}

li.paginator__item {
  display: inline-block;
  text-align: center;
}
.paginator__list {
  display: inline-block;
  margin: 20px 0;
}
.paginator__link {
  display: inline-block;
  margin-right: 20px; 
  text-align: center;
}

.about__img {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
}

.about__content {
  display: inline-block;
  background-image: url(mountains.png);
  color: #fff;
  margin-top: 50px;
  margin-left: -100px;
  padding: 50px;
  border: 1px solid;
  height:450px;
  width: 700px;
}

.about__button {
  padding: 0;
  display: inline-block;
  background-color: #F5170E;
  border-radius: 35px;
  width: 168px;
  height: 55px;
  color:#fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.social__item { 
  display: inline-block;
  top: 20px;
  position:relative;
  left: 600px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wrapper main-page-wrapper {
  height: 100%;
  width: 100%;
}

footer {
  position: relative;
  height: 100px;
}
